{% assign settings = site.data.settings %}
{% assign logo = page.logo | default: "http://swellnet.com/profiles/swellnet/themes/gold/logo.png" %}

<!-- GLOBAL HEADER -->
<header id="header" class="global-header header mb-4" role="banner">
    <div class="header-container container-smooth container-fluid">

        <!-- NAVBAR TOGGLE -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- SITE LOGO -->
        <span class="site-logo">
            <a href="/" id="logo" rel="home" title="Return to the Swellnet home page">
                <img class="img-responsive" src="{{ logo }}" alt="Swellnet logo">
            </a>
        </span>

        <!-- SITE MAIN MENU -->
        <div id="site-main-menu" class="yamm site-main-menu navbar navbar-default navbar-collapse collapse">
            <ul class="menu navbar-nav nav">
                <li class="first leaf nav-home" id="nav-home-3"><a href="/" title="Home" class="leaf-link">Home</a></li>
                <li class="leaf nav-surf-reports-and-forecasts" id="nav-surf-reports-and-forecasts-4"><a href="#" class="leaf-link">Surf Reports &amp; Forecasts</a></li>
                <li class="leaf nav-surfcams active active-trail" id="nav-surfcams-5"><a href="#" class="leaf-link active-trail">Surfcams</a></li>
                <li class="leaf nav-news" id="nav-news-6"><a href="#" class="leaf-link">News</a></li>
                <li class="leaf nav-photos" id="nav-photos-7"><a href="#" class="leaf-link">Photos</a></li>
                <li class="last leaf nav-forum" id="nav-forum-8"><a href="#" title="" class="leaf-link">Forum</a></li>

                {% if page.user_type == 'public' %}
                    <!-- PUBLIC USERS -->
                    <li class="nav-login"><a href="#">Login</a></li>
                    <li class="nav-register"><a href="#">Register</a></li>
                {% endif %}

                {% unless page.user_type == 'public' %}
                    <!-- PAID MEMBERS -->
                    <li class="nav-paid-member">
                        <ul>
                            <li><a href="#">My Report</a></li>
                            <li><a href="#">My Surfcam</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </li>
                {% endunless %}

            </ul>
        </div>

        {% unless page.user_type == 'paid' %}
            {% include adblock.html type=1 %}
        {% endunless %}

    </div> <!-- /.header-container -->

    <!-- SCREEN READER ONLY -->
    <div class="sr-only lead">Australian Surf Cams, Surf Reports and Surf Forecasts</div>
</header>