{% comment %}
<!--
    LIQUIDVISUAL-HERO

    - Updated: 27.06.17
    - Notes:
        * .has-height-preset-1 - used for internal pages to set a height
-->
{% endcomment %}

{% assign slides = site.data.carousel_slides %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEMS -->
        {% for item in slides %}
            <div class="lv-hero-item" style="background-image: url('{{ item.image }}')">

                <!-- HERO CAPTION -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="lv-hero-item-caption">
                                <h1>{{ item.title }}</h1>
                                <p class="mb-0">{{ item.body }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div> <!-- /.lv-hero -->

    <!-- CAROUSEL CONTROLS -->
    <div class="lv-hero-carousel-controls">
        <div class="container">
            <span class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
            <span class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
        </div>
    </div>

    {% comment %}
    <!-- CAROUSEL BULLETS -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="lv-hero-carousel-bullets"></div>
            </div>
        </div>
    </div>
    {% endcomment %}

</div> <!-- /.lv-hero-wrapper -->