<!-- NEAREST REPORT / FORECAST -->
<h3 class="mb-4"><i class="fa fa-bar-chart"></i>&nbsp; Nearest Report / Forecast</h3>
<a href="#" class="btn btn-cta">Middleton <i class="fa fa-angle-right"></i></a>
<hr class="my-5">

<!-- NEAREST SURFCAMS -->
<h3 class="d-flex align-items-center mb-4"><i class="fa fa-video-camera"></i>&nbsp; Nearest Surfcams <img width="34" class="ml-auto d-md-none" src="/assets/img/ui/swipe-left.svg" alt="Swipe Right"></h3>
<div class="list-scroller-wrapper">
    <ul class="list-scroller">
    <!-- block-grid-scroller block-grid-md-2 block-grid-condensed -->
        {% for i in (1..5) %}
            <li>
                <a class="btn-tile" href="#">
                    <img width="100%" src="http://placehold.it/160x120">
                    <span class="btn-tile-bg" style="background-image: url(http://static.swellnet.com.au/images/surfcams/southport-thumb.jpg)"></span>
                    <div class="btn-tile-overlay">
                        <h2 class="h3 btn-tile-header mb-0">Cronulla Beaches</h2>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<hr class="my-5">

{% comment %}
<!-- NEAREST SURFCAMS -->
<div class="panel-pane pane-views-panes pane-related-surfcams-related-surfcams">
    <div class="pane-content">
        <div class="view view-related-surfcams view-id-related_surfcams view-display-id-related_surfcams view-dom-id-3eddc6ef47245343cedb581aea1c4f44">
            <!-- <div class="view-header"> -->
                <h3><i class="fa fa-video-camera"></i>&nbsp; Nearest Surfcams:</h3>
            <!-- </div> -->

            <!-- VIEW CONTENT -->
            <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">

                    <div class="views-field views-field-static-image">
                        <span class="field-content">
                            <a href="../middleton/index.html">
                                <img class="img-responsive" src="http://static.swellnet.com.au/images/surfcams/middleton-thumb.jpg" alt="Middleton" title="Middleton" />
                            </a>
                        </span>
                    </div>

                    <div class="views-field views-field-title">
                        <span class="field-content">
                            <a href="../middleton/index.html">Middleton</a>
                        </span>
                    </div>

                    <div class="views-field views-field-field-geofield-distance">
                        <span class="views-label views-label-field-geofield-distance">Proximity: </span>
                        <span class="field-content">4.94916541447135</span>
                    </div>

                </div>
                <div class="views-row views-row-2 views-row-even views-row-last">
                    <div class="views-field views-field-static-image">
                        <span class="field-content">
                            <a href="../southport/index.html">
                                <img class="img-responsive" src="http://static.swellnet.com.au/images/surfcams/southport-thumb.jpg" alt="Southport" title="Southport" />
                            </a>
                        </span>
                    </div>

                    <div class="views-field views-field-title">
                        <span class="field-content">
                            <a href="../southport/index.html">Southport</a>
                        </span>
                    </div>

                    <div class="views-field views-field-field-geofield-distance">
                        <span class="views-label views-label-field-geofield-distance">Proximity: </span>
                        <span class="field-content">52.96729402674914</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endcomment %}