<!-- NEAREST SURFCAMS -->
<div class="panel-pane pane-views-panes pane-related-surfcams-related-surfcams">
    <div class="pane-content">
        <div class="view view-related-surfcams view-id-related_surfcams view-display-id-related_surfcams view-dom-id-3eddc6ef47245343cedb581aea1c4f44">
            <!-- <div class="view-header"> -->
                <h3><i class="fa fa-video-camera"></i>&nbsp; Nearest Surfcams:</h3>
            <!-- </div> -->

            <!-- VIEW CONTENT -->
            <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">

                    <div class="views-field views-field-static-image">
                        <span class="field-content">
                            <a href="../middleton/index.html">
                                <img class="img-responsive" src="http://static.swellnet.com.au/images/surfcams/middleton-thumb.jpg" alt="Middleton" title="Middleton" />
                            </a>
                        </span>
                    </div>

                    <div class="views-field views-field-title">
                        <span class="field-content">
                            <a href="../middleton/index.html">Middleton</a>
                        </span>
                    </div>

                    <div class="views-field views-field-field-geofield-distance">
                        <span class="views-label views-label-field-geofield-distance">Proximity: </span>
                        <span class="field-content">4.94916541447135</span>
                    </div>

                </div>
                <div class="views-row views-row-2 views-row-even views-row-last">
                    <div class="views-field views-field-static-image">
                        <span class="field-content">
                            <a href="../southport/index.html">
                                <img class="img-responsive" src="http://static.swellnet.com.au/images/surfcams/southport-thumb.jpg" alt="Southport" title="Southport" />
                            </a>
                        </span>
                    </div>

                    <div class="views-field views-field-title">
                        <span class="field-content">
                            <a href="../southport/index.html">Southport</a>
                        </span>
                    </div>

                    <div class="views-field views-field-field-geofield-distance">
                        <span class="views-label views-label-field-geofield-distance">Proximity: </span>
                        <span class="field-content">52.96729402674914</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>