<!-- SOCIAL FEED -->
<div class="container">

	<div class="d-flex align-items-center">
		<h2 class="d-flex align-items-center"><i class="fa fa-facebook"></i>&nbsp; Facebook</h2>
		<a href="#" class="anchor-link ml-auto">facebook.com/swellnet <i class="fa fa-angle-right"></i></a>
	</div>

	<div class="social-feed-facebook-container block-grid-xs-1 block-grid-md-3"></div>

	<div class="spacer mb-5"></div>
	<hr>

    <div class="d-flex align-items-center">
    	<h2 class="d-flex align-items-center"><i class="fa fa-instagram"></i>&nbsp; Instagram</h2>
    	<a href="#" class="anchor-link ml-auto">instagram.com/swellnet <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="social-feed-instagram-container block-grid-xs-1 block-grid-md-2 block-grid-lg-4"></div>
</div>