<!-- SURFCAM REPLAYS -->
<h2 class="d-flex align-items-center mb-4 mt-0"><i class="fa fa-rotate-left"></i>&nbsp; Surfcam Replays</h2>

<!-- THUMB SLIDER -->
<div class="thumb-slider-wrapper mb-5">
    <div class="thumb-slider" data-thumb-slider>
        {% for i in (1..20) %}
            <a class="thumb-slider-item btn-tile" href="#">
                <img width="" src="http://placehold.it/160x120">
                <span class="btn-tile-bg" style="background-image: url(http://static.swellnet.com.au/images/surfcams/southport-thumb.jpg)"></span>
                <div class="btn-tile-overlay">
                    <time class="h3 btn-tile-header">6:10AM</time>
                </div>
            </a>
        {% endfor %}
    </div>

    <!-- SLIDER CONTROLS -->
    <button class="thumb-slider-prev-btn"><i class="fa fa-angle-left"></i></button>
    <button class="thumb-slider-next-btn"><i class="fa fa-angle-right"></i></button>
</div>