<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- VIDEO WIDGET -->
<section id="video-widget" class="mb-4">

    {% if page.url contains 'replays' %}
        <!-- DATE DROPDOWN -->
        <date-select v-model="date" :full-width="true"></date-select>
    {% endif %}

    <!-- VIDEO PLAYER -->
    <video-player :selected-video="selectedVideo"></video-player>

    {% unless page.user_type == 'paid' %}
        {% include ads.html type=2 %}
    {% endunless %}

    {% if page.url contains 'live' %}
        <!-- SURFCAM REPLAYS -->
        <h2 class="d-flex mb-4 mt-5"><i class="fa fa-rotate-left pr-3"></i> Surfcam Replays</h2>

        <!-- DATE DROPDOWN -->
        <date-select v-model="date"></date-select>
    {% endif %}

    <!-- THUMB SLIDER -->
    <div class="transition-wrapper">
        <transition name="slide">
            <thumb-slider :feed="feed" @select-video="selectVideo" v-if="feed"></thumb-slider>
        </transition>
    </div>

</section>

<style scoped>

    .slide-enter-active,
    .slide-leave-active {
        transition: all ease 300ms;
    }

    .slide-enter,
    .slide-leave-to {
        /*transform: translateY(-100%);*/
        opacity: 0;
    }

    .transition-wrapper {
        overflow: hidden;
    }

</style>