<!-- VIDEO WIDGET -->
<section id="video-widget" class="mb-4" surfcam-id="29">

    {% if page.url contains 'replays' or page.url == '/' %}
        <!-- DATE DROPDOWN -->
        <div class="custom-select-wrapper collapse-row-sm-only" v-if="feed">
            <date-select v-model="date"></date-select>
            <time-select v-model="selectedDateIndex" :index="selectedDateIndex" :feed="feed"></time-select>
        </div>
    {% endif %}

    <!-- VIDEO PLAYER -->
    <video-player :selected-video="selectedVideo"
                  live-stream="rtmp://streamer.swellnet.com.au/surfcams/knights.stream"
                  live-stream-image="http://static.swellnet.com.au/images/surfcams/knights.jpg"
                  live-stream-playlist="https://streamer.swellnet.com.au/surfcams/knights.stream/playlist.m3u8">
    </video-player>

    {% if page.url contains 'live' %}
        <!-- SURFCAM REPLAYS -->
        <h2 class="d-flex mb-4 mt-5"><i class="fa fa-rotate-left pr-3"></i> Surfcam Replays</h2>

        <!-- DATE DROPDOWN -->
        <div class="custom-select-wrapper collapse-row-sm-only mt-0">
            <date-select v-model="date"></date-select>
            <time-select v-model="selectedDateIndex" :index="selectedDateIndex" :feed="feed"></time-select>
        </div>
    {% endif %}

    <!-- THUMB SLIDER -->
    <thumb-slider :feed="feed" :current-index="selectedDateIndex" @select-video="selectVideo" v-if="feed" :class="{'thumbs-loading': feedLoading}"></thumb-slider>

    {% unless page.user_type == 'paid' %}
        {% include ads.html type=2 %}
    {% endunless %}

</section>