<!-- VIDEO SECTION -->
<section class="mb-4">

    {% if page.url contains 'replays' %}
        <!-- DATE DROPDOWN -->
        <div class="custom-select-wrapper collapse-row-sm-only">
            <div class="custom-select is-full-width">
                <select>
                    <option selected>Tuesday, 22nd August 2017</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
                <i class="fa fa-caret-down"></i>
                <i class="fa fa-calendar-o"></i>
            </div>
        </div>
    {% endif %}

    <!-- VIDEO -->
    <div id="video" class="mb-5">
        <!-- note: this needs to be dynamic once API call -->
        <a href="rtsp://streamer.swellnet.com.au/surfcams/knights.stream">
            Watch this stream over your native player
        </a>
    </div>

    {% unless page.user_type == 'paid' %}
        {% include ads.html type=2 %}
    {% endunless %}

    {% if page.url contains 'live' %}
        <!-- SURFCAM REPLAYS -->
        <h2 class="d-flex mb-4 mt-5"><i class="fa fa-rotate-left pr-3"></i> Surfcam Replays</h2>

        <!-- DATE DROPDOWN -->
        <div class="custom-select-wrapper collapse-row-sm-only">
            <div class="custom-select">
                <select>
                    <option selected>Tuesday, 22nd August 2017</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
                <i class="fa fa-caret-down"></i>
                <i class="fa fa-calendar-o"></i>
            </div>
        </div>
    {% endif %}

    <!-- THUMB SLIDER -->
    <div class="thumb-slider-wrapper collapse-row-sm-only">
        <div class="thumb-slider-track">
            <div class="thumb-slider is-stacked-for-desktopX" data-thumb-slider>
                {% for i in (1..100) %}
                    <a class="thumb-slider-item btn-tile" href="#">
                        <img src="/assets/img/layout/placeholder-thumbnail.png">
                        <span class="btn-tile-bg" style="background-image: url(http://static.swellnet.com.au/images/surfcams/southport-thumb.jpg)"></span>
                        <div class="btn-tile-overlay">
                            <h3 class="btn-tile-header">{{ i }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <!-- SLIDER CONTROLS -->
            <button class="thumb-slider-prev-btn"><i class="fa fa-angle-left"></i></button>
            <button class="thumb-slider-next-btn"><i class="fa fa-angle-right"></i></button>
        </div>
    </div>

</section>