/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";

//=========================================
// HEADER TOP
//=========================================

$header-top-sm-height: 40px;
$header-top-md-height: 40px;
$header-top-lg-height: 40px;

//=========================================
// HEADER BODY
//=========================================

$header-body-sm-height: 60px;
$header-body-md-height: 90px;
$header-body-lg-height: 130px;

//=========================================
// HEADER BOTTOM (NAV)
//=========================================

$header-bottom-sm-height: 0; //50px;
$header-bottom-md-height: 0; //50px;
$header-bottom-lg-height: 0; //50px;

//=========================================
//
//=========================================