/*
    FOOTER.CSS

    - Last updated: 27.06.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.footer { // repeated from previous codebase
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    color: #fff;
    border-top: 4px solid #008a93;
    background-color: #03646a;
    background: linear-gradient(#03646a 0, #008a93 100%);
    padding-bottom: 40px;
}

//-----------------------------------------------------------------
// FOOTER DESKTOP MOBILE SWITCH
//-----------------------------------------------------------------

.footer-desktop {
	@include media-breakpoint-down(sm) {
	    display: none;
	}
}

.footer-mobile {
	@include media-breakpoint-up(md) {
	    display: none;
	}
}

//-----------------------------------------------------------------
// FOOTER MOBILE
//-----------------------------------------------------------------

.footer-mobile {
	padding: rem-calc(60 40);

	ul {
		list-style: none;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: rem-calc(15);
		}
	}

	a {
		font-size: rem-calc(22);
		font-weight: 600;
		text-transform: uppercase;
		color: white;
	}

	.row {
		display: flex;

		.col-hack-6 {
			width: 50%;
			padding: rem-calc(0 15);
		}

		.col-hack-6:last-child a {
			color: #5ed9e3;
		}
	}
}

//=========================================
//
//=========================================