/*
    HEADER.CSS

    - Last updated: 08.09.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// HEADER AD REFERENCE
//-----------------------------------------------------------------

// #boxes-box-swellnet_adblock_leaderboard.header-ad {
// 	overflow: hidden;

// 	@include media-breakpoint-up(lg) {
// 		position: absolute;
// 		top: -29px;
// 		right: rem-calc(20);
// 	}
// }

//-----------------------------------------------------------------
// HEADER AD
// * Switch to .global-header after back-end implementation
//-----------------------------------------------------------------

.theme-unpaid #header,
.theme-public #header {
	@include media-breakpoint-down(md) {
	    padding-bottom: 35px;
	}
}

.theme-unpaid {
	#header {
		@include media-breakpoint-up(lg) {
		    padding-top: rem-calc(78);
		}
	}

	.header-ad {
		@include media-breakpoint-up(lg) {
		    top: -29px;
		}
	}
}

//=========================================
// HEADER AD
//=========================================

.header-ad {
	position: relative;
	top: 10px;

	@include media-breakpoint-up(lg) {
	    position: absolute;
	    top: 16px;
	    right: 13px;
	}

	img {
		@include media-breakpoint-down(sm) {
		    width: 100%;
		}
	}
}

//-----------------------------------------------------------------
// PAID MEMBERS NAV ITEMS
//-----------------------------------------------------------------

ul li.nav-paid-member {
	@include media-breakpoint-up(lg) {
	    position: absolute;
	    top: -52px;
	    right: 0;
	    background: none;
	}

	&:hover {
		@include media-breakpoint-up(lg) {
		    background: none !important;
		}
	}

	ul {
		list-style: none;
		font-size: rem-calc(22);
		text-transform: uppercase;
		padding: 0;

		@include media-breakpoint-up(lg) {
			display: flex;
			padding: 10px 0;
		}

		li {
			position: relative;
			border-bottom: 1px solid #03646a;

			@include media-breakpoint-up(lg) {
			    border-bottom: 0;
			}

			&:after {
				@include media-breakpoint-up(lg) {
				    content: "|";
				    position: absolute;
				    top: 0;
				    right: 0;
				    color: #e7ebea;
				}
			}

			&:last-child {
				&:after {
					display: none;
				}

				a {
					@include media-breakpoint-up(lg) {
					    padding-right: 0;
					}
				}
			}

			&.active a {
				background: #005a60;
			}

			&:hover a {
				@include media-breakpoint-down(md) {
				    background: #444444;
				}
			}

			a {
				display: block;
				padding: rem-calc(15 30);
				text-decoration: none !important;

				@include media-breakpoint-down(md) {
				    background: $brand-primary;
				    color: white;
				}

				@include media-breakpoint-up(lg) {
				    padding: rem-calc(0 20);
				}
			}
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================