/*
    BUTTONS.CSS

    - Last updated: 24.08.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BTN CTA (with arrow)
//-----------------------------------------------------------------

.btn-cta {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
    background: $brand-primary;
    font-size: rem-calc(32);
    text-align: left;
    color: white;

    .fa-angle-right {
        margin-left: auto;
        font-size: rem-calc(44);
    }

    &:hover {
        color: white;
        background: darken($brand-primary, 5%);
    }
}

//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-tile {
    display: block;
    position: relative;
    // height: rem-calc(150);
    overflow: hidden;
    box-shadow: none !important;

    @include media-breakpoint-up(md) {
        height: auto;
    }

    //=========================================
    //
    //=========================================

    &.is-slim {
        height: rem-calc(100);

        @include media-breakpoint-up(md) {
            height: rem-calc(220);
        }
    }

    //=========================================
    //
    //=========================================

    .btn-tile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: none;
        transition: transform 300ms ease;
    }

    .btn-tile-overlay {
        // display: flex;
        // align-items: flex-end;
        // justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 0;
        // top: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        padding: rem-calc(15);
        background: #2f2f2f; //rgba(black, 0.5);
        transition: opacity 300ms ease, background-color 300ms ease;

        .btn-tile-header {
            font-size: rem-calc(26);
            color: white;
            margin: 0;
        }
    }

    //=========================================
    // HOVERS
    //=========================================

    &:hover {
        @include media-breakpoint-up(xl) {
            .btn-tile-bg {
                transform: scale(1.05);
            }
        }
    }
}

//=========================================
//
//=========================================