/*
    BUTTONS.CSS

    - Last updated: 24.08.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-tile {
    display: block;
    position: relative;
    // height: rem-calc(150);
    overflow: hidden;
    box-shadow: none !important;

    @include media-breakpoint-up(md) {
        height: auto;
    }

    //=========================================
    //
    //=========================================

    &.is-slim {
        height: rem-calc(100);

        @include media-breakpoint-up(md) {
            height: rem-calc(220);
        }
    }

    //=========================================
    //
    //=========================================

    .btn-tile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: none;
        transition: transform 300ms ease;
    }

    .btn-tile-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: rem-calc(30);
        background: rgba(black, 0.5);
        transition: opacity 300ms ease, background-color 300ms ease;

        .btn-tile-header {
            color: white;
        }
    }

    //=========================================
    // HOVERS
    //=========================================

    &:hover {
        @include media-breakpoint-up(xl) {
            .btn-tile-bg {
                transform: scale(1.05);
            }
        }
    }
}

//=========================================
//
//=========================================