/*
    BUTTONS.CSS

    - Last updated: 24.08.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BTN CTA (with arrow)
//-----------------------------------------------------------------

.btn-cta {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
    background: $brand-primary;
    font-size: rem-calc(32);
    text-align: left;
    color: white;

    .fa-angle-right {
        margin-left: auto;
        font-size: rem-calc(44);
    }

    &:hover {
        color: white;
        background: darken($brand-primary, 5%);
    }
}

//-----------------------------------------------------------------
// BTN TABS
//-----------------------------------------------------------------

.btn-tabs {
    overflow: hidden;
    border-bottom: 10px solid #e4e2e3;
    margin-top: -20px;

    .btn-tiny {
        position: relative;
        top: 12px;
    }

    .btn-tab {
        display: block;
        padding: rem-calc(15 30);
        float: right;
        background: #f5f3f4;
        font-size: rem-calc(30);
        font-weight: 600;
        color: #666;
        text-transform: uppercase;

        &.active {
            background: #e4e2e3;
        }
    }
}

//-----------------------------------------------------------------
// BTN TINY (FAVORITE)
//-----------------------------------------------------------------

.btn.btn-tiny {
    background: $brand-secondary;
    border-radius: 0;
    text-transform: uppercase;
    font-size: rem-calc(20);
    font-weight: 700;
    line-height: 1.2;
    padding: 5px 10px;
    border: 0;
    // float: left;
    // margin-bottom: rem-calc(15);

    &:hover {
        @include media-breakpoint-up(lg) {
            background: lighten($brand-secondary, 5%);
        }
    }
}

//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-tile {
    display: block;
    position: relative;
    // height: rem-calc(150);
    overflow: hidden;
    // box-shadow: none !important;

    @include media-breakpoint-up(md) {
        height: auto;
    }

    //=========================================
    //
    //=========================================

    &.is-slim {
        height: rem-calc(100);

        @include media-breakpoint-up(md) {
            height: rem-calc(220);
        }
    }

    //=========================================
    //
    //=========================================

    .btn-tile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: none;
        transition: transform 300ms ease, opacity 300ms ease;
    }

    .btn-tile-overlay {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 0;
        padding: rem-calc(10);
        background: #2f2f2f; //rgba(black, 0.5);
        transition: opacity 300ms ease, background-color 300ms ease;

        .btn-tile-header {
            padding: 0;
            margin: 0;
            font-size: rem-calc(26);
            line-height: 1;
            color: white;
        }
    }

    //=========================================
    // HOVERS
    //=========================================

    &:hover {
        @include media-breakpoint-up(xl) {
            .btn-tile-bg {
                opacity: 0.85;
                // transform: scale(1.05);
            }
        }
    }
}

//=========================================
//
//=========================================