---
layout: base__clean
---

{% assign settings = site.data.settings %}

<div class="col-sm-6">

	<p class="text-center">Last updated: <b>{{ site.time | date: '%A %B %d -- %r' }}</b></p>

	<h2 class="mb-5">Preview a Template</h2>
	<ul class="list-unstyled">
		{% for item in site.pages %}
			{% if item.url contains 'knights' %}
				<li class="mb-4">
					<a href="{{ item.url }}">{{ item.title }}</a>&nbsp;
					<span class="badge badge-secondary">{{ item.user_type }}</span>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<hr class="my-5">

	<h2>Developer Notes</h2>
	<p>Coming soon</p>

	{% include video.html %}

	{% comment %}
	* style order is important
	* javascript order is important

	* lv-page added to page wrapper for scoping

	* user_type.public vairable controls what you see

	* body has theme
	* theme is just for adverts right now, absolute spacing

	* comments and forums have new headers - all other code is the same
	* latest news is the same
	* have changed @include CSS to links - performance boost

	* navigation doesn't include the dropdown - so copy existing code

	{% endcomment %}
</div>