---
layout: base
---

{% assign settings = site.data.settings %}

<div class="col-sm-6">

	<p class="text-center">Last updated: <b>{{ site.time | date: '%A %B %d -- %r' }}</b></p>

	<h2 class="mb-5">Preview a Template</h2>
	<ul class="list-unstyled">
		{% for item in site.pages %}
			{% if item.url contains 'knights' %}
				<li class="mb-4">
					<a href="{{ item.url }}">{{ item.title }}</a>&nbsp;
					<span class="badge badge-secondary">{{ item.user_type }}</span>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<hr class="my-5">

	{{ content }}
</div>