---
layout: base
---

{% assign settings = site.data.settings %}

<div class="col-sm-6">
	<h2 class="mb-5">Preview a Template</h2>
	<ul class="list-unstyled">
		{% for item in site.pages %}
			{% if item.url contains 'knights' %}
				<li class="mb-4">
					<a href="{{ item.url }}">{{ item.title }}</a>&nbsp;
					<span class="badge badge-secondary">{{ item.user_type }}</span>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<hr class="my-5">

	<h2>Developer Notes</h2>
	<p>Coming soon</p>
	<!-- { % include sections/surfcam_replays.html %} -->
	<!-- { % include sections/nearest_surfcams.html %} -->
	<!-- { % include sections/social_feed.html %} -->
</div>