---
layout: base__page_sidebar
---

{% include video.html %}

{% comment %}

{% unless page.user_type == 'paid' %}
    Remove video ads with <a href='http://swellnet.com/pro/subscribe/index.html'>Swellnet Pro</a> for $8.95/month (first month $1.00)
{% endunless %}

<div class="field field-name-body field-type-text-with-summary field-label-hidden mb-5">
    <p><em>Surfers etiquette: if you're travelling here to surf, please respect the locals.</em></p>
</div>

<!-- LATEST NEWS (DESKTOP) -->
<div class="hidden-sm-down">
    {% include sections/latest_news.html %}
</div>

{% unless page.user_type == 'paid' %}
    {% include ads.html type=3 %}
{% endunless %}

<!-- SIDEBAR CONTENT BLOCK -->
{% contentfor sidebar %}

    {% unless page.user_type == 'paid' %}
        {% include ads.html type=4 %}
    {% endunless %}

	{% include sections/nearest_surfcams.html %}

    {% unless page.user_type == 'paid' %}
        {% include ads.html type=4 %}
    {% endunless %}

    <hr class="hidden-sm-down">

    <!-- LATEST NEWS / SOCIAL (MOBILE) -->
    <div class="hidden-md-up mb-4">
        {% include sections/latest_news.html %}
        <hr class="mb-5">
        {% include sections/social_feed.html %}
        <hr>
    </div>

	{% include sections/latest_comments.html %}
    <hr>
	{% include sections/in_the_forums.html %}

    {% unless page.user_type == 'paid' %}
        {% include ads.html type=5 %}
    {% endunless %}

{% endcontentfor %}

<!-- SOCIAL FEED CONTENT BLOCK (DESKTOP) -->
{% contentfor content_additional %}
    <div class="hidden-sm-down mb-4">
        <hr class="mb-5">
        {% include sections/social_feed.html %}
    </div>
{% endcontentfor %}
{% endcomment %}