/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// STYLEGUIDE
//-----------------------------------------------------------------

.styleguide-color-swatch {
	display: flex;
	flex-direction: column;
	height: rem-calc(144);
	margin-bottom: rem-calc(40);
	background: #444;
	color: white;
	border-radius: 8px;
	overflow: hidden;

	&.is-brand-primary { background: $brand-primary; }
	&.is-brand-secondary { background: $brand-secondary; }
	&.is-brand-tertiary { background: $brand-tertiary; }
	&.is-brand-quaternary { background: $brand-quaternary; }
	&.is-brand-quinary { background: $brand-quinary; }

	&.is-gray-dark { background: $gray-dark; }
	&.is-gray { background: $gray; }
	&.is-gray-light { background: $gray-light; }
	&.is-gray-lighter { background: $gray-lighter; }
	&.is-gray-lightest { background: $gray-lightest; }

	.styleguide-color-swatch-header {
		margin-top: auto;
		padding: rem-calc(10);
		background: #131317;
		font-size: rem-calc(14);
		font-weight: bold;
		text-align: center;
	}
}

//-----------------------------------------------------------------
// SPECIAL
//-----------------------------------------------------------------
//=========================================
//
//=========================================